.App {
  width: 1240px;
  height: 1754px;
  margin: auto;
  position: relative;
  background-image: url("https://i.imgur.com/4mXCa9j.jpg");
  background-size: cover;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 4px;
}

.form-container {
  max-width: 280px; /* Increased width for more room */
  margin: 0 auto; /* Center the form container */
  padding: 24px;
  padding-left: 10px;
  padding-right: 26px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  padding-bottom: 10px;
}
.form-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;
}

.form-container .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-container .input-group label {
  flex-shrink: 0; /* Prevent the label from shrinking */
  margin-right: 10px; /* Provide some space between the label and the input */
}

.form-container .input-group input {
  flex-grow: 1; /* Allow the input to grow and fill the space */
  margin-left: 10px; /* Provide some space between the label and the input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ensure that date and time inputs take the full available space */
.form-container input[type="date"],
.form-container input[type="time"],
.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="number"] {
  width: calc(100% - 20px);
}

/* Style the submit button */
.form-container button[type="submit"] {
  width: calc(100% - 20px); /* Adjust based on actual padding and margins */
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 16px;
  margin-left: 19px;
}

.form-container button[type="submit"]:hover {
  background-color: #444;
}

.App h1 {
  text-align: center;
  margin-bottom: 16px;
}

.kundli-svg-container {
  max-width: 650px;
  margin: auto; /* Centers the SVG */
  overflow: hidden; /* Ensures no overflow if SVG is larger than the container */
}
.kundli-svg-container svg {
  max-width: 100%; /* Ensures SVG scales down if necessary */
  height: auto; /* Keeps the aspect ratio intact */
}

/* Base table style */
.base-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.base-table th,
.base-table td {
  padding: 8px;
  text-align: left;
  border: 2px solid #094064; /* Or any preferred styling */
}
.base-table th {
  background-color: #0e6197; /* Example header color */
  color: #e9f6ff;
}
.base-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.base-table tr:nth-child(odd) {
  background-color: #ddd;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 33.333%;
  z-index: 10;
}

.loading-overlay img {
  margin-top: 20px; /* Adjust as needed */
}
