.App {
  width: 1240px; /* Set width to 1240px */
  height: 1754px; /* Set height to 1754px */
  margin: auto; /* Centers the App in the viewport */
  position: relative; /* Needed for absolute positioning of child elements */
  background-image: url("https://i.imgur.com/4mXCa9j.jpg"); /* Replace with your background image path */
  background-size: cover; /* Ensure the background covers the entire div */
  overflow: hidden; /* Hide anything that goes beyond the boundaries */
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; /* Optional, for styling */
  border-radius: 4px; /* Optional, for styling */
}

.App {
  width: 1240px;
  height: 1754px;
  margin: auto;
  position: relative;
  background-image: url("https://i.imgur.com/4mXCa9j.jpg");
  background-size: cover;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 4px;
}

.form-container {
  margin: auto;
  position: absolute;
  background-color: #fffcfb;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 4px;
  width: 600px;
  height: 200px;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 7em;
  grid-column-gap: 12px;
  align-items: center;
  text-justify: left;
}

.App input[type="text"] {
  appearance: none;
  border: none;
  background-color: #f9f9f9;
  padding: 8px;
  padding-left: 12px;
  border-radius: 4px;
  line-height: normal;
}

.App input::placeholder {
  color: gray;
}

.App label {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 7em;
  grid-column-gap: 12px;
  align-items: center;
  text-justify: left;
}

.App h1 {
  text-align: center;
  margin-bottom: 16px;
}

.kundli-svg-container {
  max-width: 650px;
  margin: auto; /* Centers the SVG */
  overflow: hidden; /* Ensures no overflow if SVG is larger than the container */
}
.kundli-svg-container svg {
  max-width: 100%; /* Ensures SVG scales down if necessary */
  height: auto; /* Keeps the aspect ratio intact */
}

/* Base table style */
.base-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.base-table th,
.base-table td {
  padding: 8px;
  text-align: left;
  border: 2px solid #094064; /* Or any preferred styling */
}
.base-table th {
  background-color: #0e6197; /* Example header color */
  color: #e9f6ff;
}
.base-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.base-table tr:nth-child(odd) {
  background-color: #ddd;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 33.333%;
  z-index: 10;
}

.loading-overlay img {
  margin-top: 20px; /* Adjust as needed */
}
