.App {
  font-family: sans-serif;
  text-align: center;
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 500px;
  margin: auto;
  padding: 16px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 4px;
  padding: 24px;
}
.App input[type="text"] {
  appearance: none;
  border: none;
  background-color: #f9f9f9;
  padding: 8px;
  padding-left: 12px;
  border-radius: 4px;
  line-height: normal;
}
.App input::placeholder {
  color: gray;
}

.App label {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) 7em;
  grid-column-gap: 12px;
  align-items: center;
  text-justify: left;
}
.App h1 {
  text-align: center;
  margin-bottom: 16px;
}

.kundli-svg-container {
  max-width: 650px;
  margin: auto; /* Centers the SVG */
  overflow: hidden; /* Ensures no overflow if SVG is larger than the container */
}
.kundli-svg-container svg {
  max-width: 100%; /* Ensures SVG scales down if necessary */
  height: auto; /* Keeps the aspect ratio intact */
}

.sarvatable {
  width: 100%;
  border-collapse: collapse;
}

.sarvatable,
th,
td {
  border: 1px solid black;
}

th {
  font-weight: bold;
}

.sarvatable .even-row {
  background-color: #f2f2f2;
}

/* Dasha table styles */
.dasha-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.dasha-table th {
  background-color: #222222; /* Or any color of your choice for the header */
  color: white;
  padding: 10px;
}

.dasha-table td {
  padding: 8px;
  text-align: center;
}

/* Alternating row colors for readability */
.dasha-table tr:nth-child(even) {
  background-color: #ececec;
}
.dasha-table tr:nth-child(odd) {
  background-color: #ddd;
}

.sub-dasha-table td {
  padding: 8px;
  text-align: center;
}
.sub-dasha-table {
  width: 300px;
  border-collapse: collapse;
}
/* Styling for the Minor Lords header */
.sub-dasha-table th {
  background-color: #31708e; /* Different color for Minor Lords header */
  color: white;
}

.panchanga-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.panchanga-table th {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

.panchanga-table td {
  padding: 8px;
  text-align: left;
}

.panchanga-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.panchanga-table tr:nth-child(odd) {
  background-color: #ddd;
}

/* Base table style */
.base-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.base-table th,
.base-table td {
  padding: 8px;
  text-align: left;
  border: 2px solid #094064; /* Or any preferred styling */
}

.base-table th {
  background-color: #0e6197; /* Example header color */
  color: #e9f6ff;
}

.base-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.base-table tr:nth-child(odd) {
  background-color: #ddd;
}
